html::-webkit-scrollbar {
    width: 0.7rem;
}

html::-webkit-scrollbar-track {
    background:
        lighten($primary, 20%);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    box-shadow: inset 0 0 0.2rem 0.1rem darken($secondary, 50%);
}

html::-webkit-scrollbar-thumb {
    background: lighten($secondary, 10%);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}